<div>ReactiveFormsInAngular works</div>

<!-- <form [formGroup]="profileForm" (ngSubmit)="onSubmit()"> -->
<form [formGroup]="profileForm">

    <label for="first-name">First Name: </label>
    <input id="first-name" type="text" formControlName="firstName">
    <br />
    <label for="last-name">Last Name: </label>
    <input id="last-name" type="text" formControlName="lastName">
    <br />
    <!-- <button type="submit">Submit</button> -->
    <button (click)="onSubmit()">Submit</button>

</form>